<!DOCTYPE html>
<html>
  <head>
    <title>AITAH Player</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><div class="p-6 rounded-lg w-full mt-9"><span class="p-6 rounded-lg bg-slate-100 text-2xl">AITAH Reader <span id="version"></span></span></div></h1>

    <main class="mt-7 flex app">
      <div class="p-6">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
